body{
background:black;
color:#00ff9c;
font-family:monospace;
text-align:center;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
font-size:18px;
}

.green{
color:#00ff00;
}

.blue{
color:#00bfff;
}

.title{
font-size:40px;
color:#00ff9c;
text-shadow:0 0 10px #00ff9c;
}

input{
width:60%;
padding:10px;
background:black;
border:2px solid #00ff9c;
color:#00ff9c;
}

button{
padding:10px;
background:#00ff9c;
border:none;
cursor:pointer;
}

.card{
border:1px solid #00ff9c;
margin:20px;
padding:20px;
}
